body {
    background-color: #2ecc71;
}

.button{
    border: none;
    padding: 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover{
    filter: brightness(0.9);
}

.button:active{
    transform: translateY(2px);
}

.person-selector{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width: 40em;
}

.person-selector-button{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1.1em;
}

.active-person{
    background-color: blue;
    box-shadow: gray;
}

.chat-container{
    background: darkgoldenrod;
    font-family: 'Roboto', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
}

.chat-header{
    margin-bottom: 1em;
    color: white;
}
.chat-header h2{
    font-size: 1.25em;
    font-weight: bold;
}

.chat-messages{
    height: 23em;
    overflow-y: scroll;
}

.chat-messages::-webkit-scrollbar{
    display: none;
}

.message{
    padding: 0.5em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: white;
}

.message-sender{
    font-weight: bold;
    margin-bottom:0.31em;
}

.message-text{
    font-size:1em;
    margin-bottom:0.31em;
    word-break: break-word;
}

.message-timestamp{
    font-size: 0.75em;
    text-align: right;
}

.blue-bg{
    background-color: #007e7e;
}

.gray-bg{
    background-color: darkgray;
}

.chat-input-form{
 display: flex;
    align-items: center;
    margin-top:2em;
    gap:0.625em;
}

.chat-input{
    padding: 0.625em;
    border: none;
    border-radius: 0.5em;
    background-color: white;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
}

.send-button{
    background-color: blue;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.clear-chat-button{
    display: block;
    margin: 2.5em auto;
}















