button[type="submit"] {
    background-color: green;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

input
{
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
}

.row
{

}