body{
    margin: 0px;
    background-color: #EDF2F4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 1000px;
    background-image: url("../images/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin: 0;
    color: red;
}


