main
{
    display: grid;
}

.block
{

    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.block1
{
    background-color: black ;
    color: white;
    grid-area: 1/4/1/1;
}
.block2
{
    background-color: #004f0c;
    grid-area: 2/4/2/1;
}
.block3
{
    background-color: #2ecc71;
    grid-area: 3/1/3/1;
}
.block4
{
    background-color: lime;
    grid-area: 3/2/3/4;
}

@media screen and ( max-width: 772px) {
    .block1
    {

        grid-area: 1/1/1/4;
    }
    .block2
    {

        grid-area: 2/1/2/4;
    }
    .block3
    {

        grid-area: 3/1/3/4;
    }
    .block4
    {

        grid-area: 4/1/4/4;
    }
}
@media screen and ( max-width: 320px) {
    .block1
    {

        grid-area: 2/1/2/4;
    }
    .block2
    {

        grid-area: 1/1/1/4;
    }
    .block3
    {

        grid-area: 4/1/4/4;
    }
    .block4
    {

        grid-area: 3/1/3/4;
    }
}

