table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: gray;
    text-align: left;
}

tr.alt {
    background-color: #f9f9f9;
}

td.onbekend {
    background-color: red;
    color: white;
}
